$misty-blue: #2f5061;
$coral: #e57f84;
$ivory: #f4eae6;
$teal-green: #4297a0;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
    header {
      h1 {
        font-size: 2.2rem !important;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    header {
      h1 {
        font-size: 2.3rem !important;
      }
      .navbar-collapse {
        justify-content: flex-end;
        .navbar-nav {
          li.nav-item {
            .dropdown-menu {
              background-color: $teal-green !important;
            }
          }
        }
      }
    }

    .services {
      .col-md-4 {
        article {
          h5 {
            font-size: 1rem;
          }
          p {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {
    header {
      .navbar {
        h1 {
          font-size: 2.4rem !important;
        }
        .navbar-nav {
          gap: 1.5rem;
          .nav-item {
            .nav-link {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .services {
      .col-md-4 {
        article {
          h5 {
            font-size: 1.2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    header {
      .navbar {
        h1 {
          font-size: 2.5rem !important;
        }
      }
    }
  }
}
