@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  max-width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-gutter: auto;
  background-color: #f4eae6;
}

body header {
  background-color: #2f5061;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header a {
  text-decoration: none;
  color: #f4eae6;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem !important;
}

body header a h1 {
  color: #e57f84;
  display: inline;
  margin-bottom: 0;
  font-size: 2rem;
  vertical-align: middle;
  font-weight: bolder;
}

body header a:hover {
  text-decoration: none;
}

body header .navbar {
  width: 100%;
  padding: 1rem;
}

body header .navbar .navbar-toggler {
  border: none;
  color: transparent;
  height: 2rem;
  line-height: normal;
}

body header .navbar .navbar-toggler .bars {
  display: block;
  position: relative;
  width: 2rem;
  height: 2px;
  background: #f4eae6 !important;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

body header .navbar .navbar-toggler .bars::before {
  bottom: 8px;
  content: "";
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2px;
  background: #f4eae6 !important;
  -webkit-transition: opacity 200ms linear, -webkit-transform 350ms ease-in-out;
  transition: opacity 200ms linear, -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
  transition: transform 350ms ease-in-out, opacity 200ms linear, -webkit-transform 350ms ease-in-out;
}

body header .navbar .navbar-toggler .bars::after {
  content: "";
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2px;
  background: #f4eae6 !important;
  -webkit-transition: opacity 200ms linear, -webkit-transform 350ms ease-in-out;
  transition: opacity 200ms linear, -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
  transition: transform 350ms ease-in-out, opacity 200ms linear, -webkit-transform 350ms ease-in-out;
  top: 8px;
}

body header .navbar .navbar-toggler:focus-visible {
  outline: none;
}

body header .navbar .navbar-toggler[aria-expanded="true"] .bars {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body header .navbar .navbar-toggler[aria-expanded="true"] .bars::before {
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  opacity: 0;
}

body header .navbar .navbar-toggler[aria-expanded="true"] .bars::after {
  -webkit-transform: rotate(90deg) translate(-8px);
          transform: rotate(90deg) translate(-8px);
}

body header .navbar .navbar-collapse ul.navbar-nav {
  list-style-type: none;
}

body header .navbar .navbar-collapse ul.navbar-nav li.nav-item {
  padding: 0;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

body header .navbar .navbar-collapse ul.navbar-nav li.nav-item a {
  color: #f4eae6 !important;
}

body header .navbar .navbar-collapse ul.navbar-nav li.nav-item:hover {
  background-color: #4297a0;
}

body header .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu {
  background-color: #2f5061;
  border: none;
  border-radius: 0;
}

body header .navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #f4eae6;
  color: #2f5061 !important;
}

body header .navbar .navbar-collapse ul.navbar-nav li.nav-itemfocus-visible {
  outline: none;
}

body main .section-carousel {
  padding: 2rem 3rem;
}

body main .section-carousel .owl-carousel {
  position: relative;
}

body main .section-carousel .owl-carousel .owl-nav {
  display: none;
}

body main .section-carousel .owl-carousel .owl-dots {
  margin: 1rem;
}
/*# sourceMappingURL=style.css.map */