// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

// color variables
$misty-blue: #2f5061;
$misty-blue-hover: rgba(47, 80, 97, 0.9);
$coral: #e57f84;
$coral-hover: rgba(229, 127, 132, 0.9);
$ivory: #f4eae6;
$ivory-transparent: rgba(244, 234, 230, 0.1);
$teal-green: #4297a0;
$teal-green-hover: rgba(66, 151, 160, 0.9);

// styles
* {
  scroll-behavior: smooth;
  body {
    max-width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scrollbar-gutter: auto;
    background-color: $ivory;

    // HEADER START
    header {
      background-color: $misty-blue;
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: $ivory;
        display: inline;
        align-items: center;
        padding: 0.5rem 1rem !important;

        h1 {
          color: $coral;
          display: inline;
          margin-bottom: 0;
          font-size: 2rem;
          vertical-align: middle;
          font-weight: bolder;
        }

        &:hover {
          text-decoration: none;
        }
      }

      // NAVBAR START
      .navbar {
        width: 100%;
        padding: 0;

        .navbar-toggler {
          border: none;
          color: transparent;
          height: 2rem;
          line-height: normal;

          .bars {
            display: block;
            position: relative;
            width: 2rem;
            height: 2px;
            background: $ivory !important;
            transition: transform 350ms ease-in-out;

            &::before {
              bottom: 8px;
              content: "";
              position: absolute;
              left: 0;
              width: 2rem;
              height: 2px;
              background: $ivory !important;
              transition: transform 350ms ease-in-out, opacity 200ms linear;
            }
            &::after {
              content: "";
              position: absolute;
              left: 0;
              width: 2rem;
              height: 2px;
              background: $ivory !important;
              transition: transform 350ms ease-in-out, opacity 200ms linear;
              top: 8px;
            }
          }

          &:focus-visible {
            outline: none;
            box-shadow: none;
          }
        }
        .navbar-toggler[aria-expanded="true"] .bars {
          transform: rotate(45deg);

          &::before {
            transition: transform 350ms ease-in-out;
            opacity: 0;
          }

          &::after {
            transform: rotate(90deg) translate(-8px);
          }
        }

        .navbar-collapse {
          ul.navbar-nav {
            list-style-type: none;

            li.nav-item {
              padding: 0;
              transition: 0.1s ease-in;

              a {
                color: $ivory !important;
                font-weight: 300;
              }

              &:hover {
                background-color: $teal-green;
              }

              .dropdown-menu {
                background-color: $misty-blue;
                border: none;
                border-radius: 0;
                transition: 0.1s ease-in;

                .dropdown-item {
                  &:hover {
                    background-color: $ivory;
                    color: $misty-blue !important;
                  }
                }
              }

              &focus-visible {
                outline: none;
              }
            }
          }
        }
      } // NAVBAR END
    } // HEADER END

    // MAIN START
    main {
      // SECTION CAROUSEL
      .section-carousel {
        color: $misty-blue;
        margin: 2rem 0;
        .owl-carousel {
          position: relative;
          .owl-stage-outer {
            margin-bottom: 2rem;
          }
          .owl-nav {
            display: none;
          }
        }
      }

      // SECTION ACCORDION
      .section-accordion {
        margin: 2rem 0;
        h1 {
          color: $misty-blue;
          margin-bottom: 2rem;
        }
        .card {
          border-radius: 0;
          border: 0;
          background-color: transparent;

          .card-header {
            background-color: $misty-blue;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;
            border: 0;
            border-bottom: 0.1px solid $ivory-transparent;
            border-radius: 0;
            outline: none;

            h5,
            button {
              font-weight: 300;
              display: inline-block;
              color: $ivory;
              width: auto;
              text-decoration: none;
              &:focus,
              &:focus-visible {
                outline: none;
                box-shadow: none;
              }
            }
            &:focus-visible {
              outline: none;
            }
          }

          .collapse,
          .collapsing {
            .card-body {
              background-color: $teal-green;
              color: $ivory;
              font-weight: 300;
            }
          }
          &:focus-visible {
            outline: none;
          }
        }
      }

      // SECTION SERVICES
      .services {
        color: $misty-blue;
        margin: 2rem 0 5rem 0;
        .col-md-4 {
          article {
            text-align: center;
            background-color: $teal-green;
            color: $ivory;
            transition: 0.1s ease-in-out;
            h5 {
              padding: 2rem 0;
              background-color: $misty-blue;
              transition: 0.1s ease-in-out;

              span {
                font-weight: 300;
                font-size: smaller;
              }
            }
            p {
              font-weight: 300;
              padding: 2rem;
              transition: 0.1s ease-in-out;
            }
            .articleButton {
              padding: 0.5rem 1.5rem;
              color: $ivory;
              background-color: $misty-blue;
              margin-bottom: 2rem;
              border: none;
              outline: none;
              font-weight: 300;
              &:hover {
                background-color: $coral;
                color: $ivory;
              }
            }

            // MODAL
            .modal {
              color: $misty-blue;
              border: none;
              border-radius: 0;
              outline: none;

              .modal-content {
                border: none;
                border-radius: 0;
                outline: none;
                .modal-header,
                .modal-footer {
                  text-align: left;
                  display: flex;
                  align-items: center;
                  background-color: $misty-blue;
                  color: $ivory;
                  border-radius: 0;
                  outline: none;
                  border: 0;
                  .close {
                    font-size: xxx-large;
                    font-weight: 200;
                    padding: 0;
                    margin: 0;
                    text-shadow: none;
                    color: $ivory;
                    opacity: 1;
                  }
                }
                .modal-body {
                  background-color: $ivory;
                  color: $misty-blue;
                  border-radius: 0;
                  outline: none;
                  border: 0;
                  padding: 0;
                }
              }

              .modalButton {
                background-color: $teal-green;
                color: $ivory;
                padding: 0.5rem 1.5rem;
                border: none;
                outline: none;
                &:hover {
                  background-color: $coral-hover;
                }
              }
            }

            &:hover {
              background-color: $teal-green-hover;
              h5 {
                background-color: $misty-blue-hover;
              }
            }
          }
        }
      }
    } // MAIN END

    // FOOTER START
    footer {
      background-color: $misty-blue;
      color: $ivory;
      font-weight: 300;
      font-size: 0.75rem;
    } // FOOTER END
  }
}
